@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rokkitt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
    width: 100vw;
    height: 100vw;
  
  }
  
  .wrappn{
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex
    justify-content: center;
  
  }
  
  .cont{
    background: lightyellow;
    width: 100%;
    height:100;
  }

  .navbar{
  overflow: hidden;
  background-color: #252423;
  position: relative;
  bottom: 0rem;
  width: 100%;
  height: 10%;
  padding-left: 8rem;
  font-family: 'Italiana', serif;
}

.navbar a {
  float: left;
  display: block;
  color: lightgreen;
  text-align: center;
  padding: 10px 5px;
  position: relative
  text-decoration: none;
  font-size: 15px;
  
}

.navbar a:hover {
  background: #f1f1f1;
  color: black;
}

  .both{
    background: #252423;
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: row;
   flex-wrap: wrap;
}

.cont1{
    display: flex;
    flex-direction: column;  
}

.one{
  width: 324px;
  height: 200px;
  background: #252423;
  margin: 5px;
}

.one{
  font-family: 'Italiana', serif;
  font-weight: 400;
  font-size: 55px;
  margin-left: 10rem;
  text-align: left;
  padding-left: 0rem;
  color: whitesmoke;
}

/*.modal{
    background-color:#9E2626;
    border:none;
    color: #FCF6F6;
    padding: 15px 20px;
    text-align: left;
    text text-decoration: none;
    font-family: 'Italiana', serif;
    font-size:28px;
    margin: 4px;
    border-radius: 5px;
    cursor:pointer;
    margin-left:10rem;
    margin-right:25rem;
}*/

.bs-example {
  margin: 20px;
  cursor:url(mj.png),auto;
}

.btn{
  
    border:none;
    padding: 15px 20px;
    text-align: left;
    text text-decoration: none;
    font-family: 'Italiana', serif;
    font-size:28px;
    margin-top: 20px;
    border-radius: 5px;
    cursor:pointer;
    margin-left:8rem;
    margin-right:25rem;
    
}

.modal-content iframe {
  margin: 0 auto;
  display: block; 
}

.modal-title{
  font-family: 'Italiana', serif;
  font-weight: 400;
  font-size: 36px;
  color: #9E2626;
  text-align: center;
}
.par-1{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
  justify-content: center;
  color: #252423;
}


/*
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-thumb {
  background: lightgray; 
  border-radius: 5px;
}
p {
  text-align: center;
}
.title {
  text-align: center;
  text-transform: uppercase;
}
.video {
  width: 100%;
  height: 400px;
  margin: auto;
  display: block;
  border: none;
}
.popup-btn, .close-btn {
  width: 100px;
  height: 50px;
  display: block;
  margin: 50px auto;
  cursor: pointer; 
  border: 2px solid black;
  background-color: white;
}
.popup-btn:hover {
  color: white;
  background-color: black;
}
.video-popup {
  display: none;
  width: 100%;
  height: 100vh;
  margin: auto;
  position: fixed;
  top: 0;
  boxshadow: 10px 10px 10px 10px black;
}
.popup-bg {
  background: rgba(0,0,0,0.8);
  width: 100%;
  height: 100vh;
  position: absolute;
}
.popup-content {
  background: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: auto;
}
.popup-title {
  padding: 30px;
  margin: 0 auto;
  color: red;
  text-transform: uppercase;
}
*/


.two{
    width: 400px;
    height: 200px;
    background: white; 
    margin-bottom: 0rem;
    font-family:'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin-left: 10rem;
    background: #252423;
    color: whitesmoke;
  
}

.tinker{
  background: lightgoldenrodyellow;
}
.kilgore{
  background: lightsalmon;
}
.moore{
  background: lightseagreen;
}

cont2{
    display: flex;
    flex-direction: column;
    background: white;
    
}
.three{
  width: 324px;
  height: 200px;
  background:#252423;
  margin-top: 2rem;
  margin-left: 25rem;
}

.three{
  font-family: 'Italiana', serif;
  font-weight: 400;
  font-size: 55px;
  
  
  text-align: l;
  padding-left: 0rem;
  color: whitesmoke;
}
  /*.cont1{
  width: 300px;
  height: 220px;
  background: white;
  margin: 10px;
  padding:25px;
  /*flex-direction: row;*/ 
  /*margin-left: 15rem;
  margin-right: 5rem;
  box-shadow: 1px 3px 4px #ccc;
  
  border-radius: 10px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;

  }
  .cont2{
  width: 200px;
  height: 220px;
  background: white;
  margin: 10px;
  padding:25px;
  /*flex-direction: row;*/ 
  /*margin-left: 15rem;
  margin-right: 5rem;
  box-shadow: 1px 3px 4px #ccc;
  border: solid 1px #ccc;
  border-radius: 10px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  }
  
  /*.title {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 16rem;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
  }
  